/* Color Theme Swatches in Hex */
$azul-hex: #AEDFF2;
$verde-hex: #2E732C;
$verde-claro-hex: #4CA649;
$amarelo-hex: #F2D857;
$vermelho-hex: #F23838;

/* Color Theme Swatches in RGBA */
$azul-rgba: rgba(174,223,242, 1);
$verde-rgba: rgba(46,115,44, 1);
$verde-claro-rgba: rgba(76,166,73, 1);
$amarelo-rgba: rgba(242,216,87, 1);
$vermelho-rgba: rgba(242,56,56, 1);

/* Color Theme Swatches in HSLA */
$azul-hsla: hsla(196, 72, 81, 1);
$verde-hsla: hsla(118, 44, 31, 1);
$verde-claro-hsla: hsla(118, 38, 46, 1);
$amarelo-hsla: hsla(49, 85, 64, 1);
$vermelho-hsla: hsla(0, 87, 58, 1);