.icon-block .material-icons {
	font-size: inherit;
}

.background-1 {
  background: url('../img/fundo-icones.svg');
  background-size: 100vh;
}

.landing__section {

  min-height: 100vh;

  &--title {    
    background: linear-gradient(to right, #2B6C4F, #49B86E);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--icon {
    
    width: 5rem;
    transition: all .2s ease-in;

    &:hover {
      transform: translateY(-.5rem);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &--img {
    max-width: 60vh;
  }
}

.features {

  min-height: 100vh;
  background: #FFFFFF;
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 85vh, 0% 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 85vh, 0% 100%);

  &__icons {

    &--1 {
      background: linear-gradient(to right, #2B6C4F, #49B86E);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--2 {
      background: linear-gradient(to right, #3287ac, #61a0bb);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--3 {
      background: linear-gradient(to right, #ad3836, #cf423f);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--4 {
      background: linear-gradient(to right, #968f2f, #f0f349);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }

  &__button--next {
    margin-top: 3rem;
  }

}

.carousel {
  
  &__slide {
    
    &--title {
      &1 {
        background: linear-gradient(to right, #2B6C4F, #49B86E);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &2 {
        background: linear-gradient(to right, #3287ac, #61a0bb);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &3 {
        background: linear-gradient(to right, #ad3836, #cf423f);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &4 {
        background: linear-gradient(to right, #968f2f, #f0f349);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

  }

}

.contact {
  margin-top: -15vh;
  min-height: 100vh;
  background: #FFFFFF;
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0% 100%);

  &__form {

    transform: translateY(15vh);

    &--title {
      background: linear-gradient(to right, #2B6C4F, #49B86E);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }
}

.team {
  margin-top: -15vh;
  min-height: 100vh;
  padding: 4rem 0 4rem 0;
  background: transparent;

  &__title {
    background: linear-gradient(to right, #2B6C4F, #49B86E);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__img {

    &--size {
      border: .3rem solid #49B86E;
      width: 40%;
      height: auto;
    }

  }

}